.employer-login {
  background-color: white;
}

.banner {
  background: linear-gradient(to left, rgb(87, 5, 146), rgb(87, 5, 146));
}

.banner-description {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}


/*  */

.index-banner {
  margin-top: 20px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.index-description {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.form-capsule {
  width: 60rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.input-field {
  border: none;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  outline: none;
  flex: 1;
}

.input-fields {
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  flex: 1;
}

.select-menu {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.select-btn {
  background-color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border-radius: 30px;
}

.options {
  top: 60px;
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
  height: 150px;
}

.select-menu.active .options {
  display: block;
}

.option {
  padding: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.option:hover {
  background-color: #f0f0f0;
}

.submit-btn {
  background-color: #8404c4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
}


/* company */
.company {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  margin-top: 30px;
  padding: 10px;
}

.company h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills button {
  border: none;
  outline: none;
  cursor: pointer;

}

.skills button img {
  height: 150px;
  width: 300px;
}


.company-carousel {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-top: 40px;
  border: 1px solid gray;
  width: 80rem;
}

.feature p {
  height: 50px;
  font-size: 25px;
}

/* adds */
.add-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.simens-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

.simens-add a img {
  border-radius: 30px;
}

/* index footer */
.index-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;

}

.footer {
  background-color: #1c2841;
  /* color: #fff; */
  padding: 20px;
  display: flex;
  align-items: flex-start;
  padding-left: 160px;
}


.custom-select-container {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
 border-bottom: 1px solid #7b7474;
}

.custom-select {
  width: 500px;
  padding: 10px;
  background-color: #1c2841;

  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.custom-select:hover {
  background-color: #1c2841;
}

.custom-select-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.custom-select-arrow.down {
  transform: rotate(45deg);
}

.custom-select-arrow.up {
  transform: rotate(-135deg);
}

.custom-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #1c2841;
  border: 1px solid #ccc;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.custom-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.custom-dropdown a:hover {
  background-color: #1c2841;
}

.links {
  border-bottom: 1px solid white;
  padding: 10px;
  background-color: #1c2841;
}

.links p a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.links p span {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.media a{
    margin-left: 12px;
}

.social{
  width: 750px;
  height: 300px;
  background-color: #1c2841;
}